.Description_div {
  margin-top: 100px;
}
.tableandphotodiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table1_div > h1 {
  color: blue;
}
.table1 {
  width: 35%;
}
.table {
  cursor: pointer;
  padding: 12px;
  height: 70vh;
  overflow: scroll;
}
.table::-webkit-scrollbar {
  display: none;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.flexbox h1 {
  font-size: 20px;
  color: black;
}
.flexbox p {
  color: black;
  font-weight: bolder;
  font-style: italic;
}

.table2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}

.table2 img {
  width: 100%;
  height: 200px;
}

.table3 {
  width: 35%;
}

.colorbtn {
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
