.yourpost_container {
  margin-top: 100px;
}
.yourpost h1 {
  font-style: italic;
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
.postandsidebar {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: 20%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  margin-top: 10px;
}
.sidebar select {
  margin-bottom: 10px;
}
.posts {
  width: 70%;

  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  text-align: center;
  position: absolute;
  right: 10%;
}
.galary {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  background-color: whitesmoke;
}
.galary img {
  width: 100%;
  height: 150px;
}
.galary p {
  font-size: 18px;
}

.yearandbrand {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.yearandbrand p {
  font-weight: bold;
  font-size: 18px;
}
.yearandbrand p:nth-child(3) {
  color: black;
}
.yearandbrand p:nth-child(4) {
  color: black;
}
.kmdrove p {
  color: black;
}
.price {
  display: flex;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.price p:first-child {
  color: black;
}
.price p:last-child {
  color: black;
}
.color p {
  color: black;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.buttons-edit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.buttons button:first-child {
  cursor: pointer;
  border-radius: 12px;
  color: white;
  background-color: rgb(58, 62, 58);
}
.buttons button:first-child:hover {
  background-color: rgb(190, 173, 230);
  color: black;
  font-weight: bolder;
  padding: 20px;
  font-size: 18px;
}
.buttons button:last-child {
  cursor: pointer;
  border-radius: 12px;
  color: white;
  background-color: black;
}
.buttons button:last-child:hover {
  background-color: rgb(234, 231, 240);
  color: black;
  font-weight: bolder;
  padding: 20px;
  font-size: 18px;
}
.buttons-edit button:first-child {
  cursor: pointer;
  border-radius: 12px;
  color: white;
  background-color: rgb(58, 62, 58);
}
.buttons-edit button:first-child:hover {
  background-color: rgb(190, 173, 230);
  color: black;
  font-weight: bolder;
  padding: 20px;
  font-size: 18px;
}
.buttons-edit button:last-child {
  cursor: pointer;
  border-radius: 12px;
  color: white;
  background-color: black;
}
.buttons-edit button:last-child:hover {
  background-color: rgb(234, 231, 240);
  color: black;
  font-weight: bolder;
  padding: 20px;
  font-size: 18px;
}

/*  alert box */
.alert-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alert-content p {
  margin-bottom: 20px;
  color: black;
  font-weight: bolder;
}

.firstbtn {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  color: black;
  background-color: whitesmoke;
}

.firstbtn:hover {
  background-color: #5b0ef4;
  color: white;
}
.secondbtn {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  color: black;
  background-color: whitesmoke;
}

@media screen and (min-width: 250px) and (max-width: 450px) {
  .yourpost_container {
    width: 100%;
    margin-top: 70px;
  }
  .yourpost {
    width: 100%;
  }
  .sidebar {
    width: 0%;
    /* padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

    /* margin-top: 10px; */
    display: none;
  }
  .postandsidebar {
    display: block;

    width: 90%;
    border: 1px solid blue;
  }
  .yourpost h1 {
    display: block;
    font-size: 16px;
    text-align: start;
    margin-left: 8px;
  }

  .posts {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
  }
  .galary {
    width: 100%;
    padding: 5px;
  }
  .galary img {
    width: 90%;
    height: 100px;
  }
  .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttons button {
    margin-top: 10px;
    width: 60%;
  }
  .buttons button:first-child {
    border-radius: 8px;
    color: white;
    background-color: green;
  }
  .buttons button:first-child:hover {
    background-color: rgb(190, 173, 230);
    color: black;
    font-weight: bolder;
    padding: 5px;
    font-size: 12px;
  }
  .buttons button:last-child {
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: black;
  }
  .buttons button:last-child:hover {
    background-color: rgb(190, 173, 230);
    color: black;
    font-weight: bolder;
    padding: 5px;
    font-size: 12px;
  }
}

/* No post card  */
.nopost {
  position: absolute;

  left: 45%;
  margin-top: 200px;
}
.backbtn {
  width: 70%;
  margin: auto;
}

.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    bisque 60%,
    rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%,
    rgba(255, 127, 80, 0.603) 48%
  );
  color: coral;
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    rgb(255, 174, 145) 30%,
    coral 88%,
    bisque 40%,
    rgb(255, 185, 160) 78%
  );
  color: white;
  transform: rotateY(180deg);
}
